@import url(https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css);
body {
  font-family: 'Computer Modern Serif', serif;
  font-size: 20px;
  max-width: 1000px;
  padding-left: 4%;
  padding-right: 4%;
  text-align: justify;
}

* {
  line-height: 1.3em;
  color: #333;
}

a {
  color: #196ef7;
}

h3 {
  margin-top: 3rem;
}

section.nav {
  margin-top: 4rem;
  padding-top: 3.5rem;
  border-top: 1px solid #ddd;
}

section {
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px dotted #ccc;
}

section:last-child {
  border-bottom: none;
}

ul li {
  margin-bottom: .5rem;
}

table.teaching td {
  padding-right: 1rem;
}

table.overview td {
  padding-right: 1rem;
}
table.schedule {
  border-collapse: collapse;
  width: 95%;
}
table.schedule td,th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: top
}
table.schedule tr td:nth-child(2) {
    white-space: nowrap;
}