<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fall 18 - Math 115AH - Linear Algebra (Honors)</title>
</head>
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
	MathJax.Hub.Config({
	jax: ["input/TeX", "output/HTML-CSS"],
	  tex2jax: {
	    inlineMath: [
	      ['$', '$'],
	      ['\\(', '\\)']
	    ]
	  },
	  TeX: {
	    equationNumbers: {
	      autoNumber: "AMS"
	    },
	    extensions: ["AMSmath.js", "AMSsymbols.js"],
	  },
	});
</script>
<h1>
	Fall 18 - Math 115AH - Linear Algebra (Honors)
</h1>
<p> 
	This is the course website for Math 115AH in Fall 2018.
</p>
<p>
	Please note that we are using <a href="https://campuswire.com/">Campuswire</a> for this class (see <a href="#Questions">below</a>).
</p>
<!--<section>
	<h2> Overview </h2>
	<section>
	 <table class="overview">
	  <tbody>
	    <tr>
	      <td>
	        Lectures:
	      </td> 
	      <td> 
	        Monday, Wednesday and Friday 8:00 to 8:50 pm in Moore Hall Room 100
	      </td>
	    </tr> 
	  </tbody>
	 </table>
	</section>
	-->
<section class="nav">
	<h2>Summary</h2>
	<ul>
		<li><a href="#Instructor">Instructor, TAs and office hours</a></li>
		<li><a href="#Textbook">Textbook</a></li>
		<li><a href="#Schedule">Schedule</a></li>
		<li><a href="#Homework">Homework</a></li>
		<li><a href="#Exams">Exams</a></li>
		<li><a href="#Grading">Grading</a></li>
		<li><a href="#Questions">Questions and Help</a></li>
	</ul>
</section>
<a id="Instructor">
	<h2>Instructor, TAs and office hours</h2>
</a>
<section>
	<h3>Instructor</h3>
	<p>
		Jens Eberhardt (firstname@math.ucla.edu)<br>
		<em>MS 6118 (or in my office MS6304),Tue 5-7</em><br>
		<em>MS 5137 (or in my office MS6304),Wed 4-5, (Math115AH students only)</em>
	</p>
	<h3>TAs</h3>
	<p>
		Maria, Ntekoume		 (TBA)<br>
		<em> TBA</em>
	</p>
	<p>Please check back here as office hours and locations may change.</p>
</section>
<a id="Schedule">
	<h2> Schedule </h2>
</a>
<section>
	<p>
		The lectures take place Monday, Wednesday and Friday at 1:00 to 1:50PM in GEOLOGY 6704. Time and date of the discussions can be found <a href="https://ccle.ucla.edu/course/view/18F-MATH115AH-2">here</a>.
	</p>
	<p>
		In the following table you can see the preliminary lecture schedule and find your weekly problems list and homework.
	</p>
	<table class="schedule">
		<col>
		<col>
		<col width="30%">
		<col width="60%">
		<tr>
			<th>#</th>
			<th>Date</th>
			<th>Content</th>
			<th>Homework</th>
		</tr>
		<tr>
			<td>1</td>
			<td>F, 9/28</td>
			<td>Fields (Appendix C), Vector Spaces (1.2) </td>
			<td rowspan="1">Week 0<br>
				<em>Problems:</em> <br> 
				None.<br>
				<em>Homework:</em><br>
				None.
			</td>
		</tr>
		<tr>
			<td>2</td>
			<td>M, 10/1</td>
			<td>Subspaces and Quotient spaces (1.3)</td>
			<td rowspan="3">Week 1<br>
				<em>Problems:</em> <br> 
				<strong>1.2:</strong> 1, 2, 19, 22<br>
			    <strong>1.3:</strong> 1, 8, 10, 11, 12, 13, 14, 15, 16, 19, 20 (use induction), 22, 24, 31<br>
				<strong>1.4:</strong> 1, 5aeg, 11, 12, 13, 14<br>
				<strong>1.5:</strong> 1, 2ace, 4, 5, 11, 14, 15 <br>
				<em>Homework:</em><br>
				<strong>1.2.1, 1.3.13, 1.3.19, 1.3.31, 1.4.13, 1.5.14</strong>
			</td>
		</tr>
		<tr>
			<td>3</td>
			<td>W, 10/3</td>
			<td>Linear Equations/Combinations (1.4), Linear Dependence (1.5)</td>
		</tr>
		<tr>
			<td>4</td>
			<td>F, 10/5</td>
			<td>Bases and Dimension (1.6)</td>
		</tr>
		<tr>
			<td>5</td>
			<td>M, 10/8</td>
			<td>Homomorphisms, Kernel, Image (2.1)</td>
			<td rowspan="3">Week 2<br>
				<em>Problems:</em> <br> 
				<strong>1.6:</strong> 1, 2a, 3a, 4, 5, 7, 9, 11, 12, 29 <br>
			    <strong>2.1:</strong> 1, 9, 18, 19, 20, 22, 23, 24, 26, 27, 28, 29, 35, 37<br>
				<em>Homework:</em><br>
				<strong>1.6.2a, 1.6.12, 1.6.29, 2.1.9, 2.1.26, 2.1.28</strong>
			</td>
		</tr>
		<tr>
			<td>6</td>
			<td>W, 10/10</td>
			<td>Invertibility and Isomorphisms (2.4)</td>
		</tr>
		<tr>
			<td>7</td>
			<td>F, 10/12</td>
			<td>The Homomorphism Theorem</td>
		</tr>
		<tr>
			<td>8</td>
			<td>M, 10/15</td>
			<td>Matrix of a Linear Transformation (2.2)</td>
			<td rowspan="3">Week 3<br>
				<em>Problems:</em> <br> 
				<strong>2.4.:</strong> 1, 2, 3, 4, 5, 6, 7, 9, 10, 13, 14, 16, 17, 19, 25 <br>
			    <strong>2.2:</strong> 1, 2, 3, 4, 5, 9, 11, 13, 16<br>
				<em>Homework:</em><br>
				<strong>2.4.9, 2.4.19, 2.2.4, 2.2.11, 2.2.13, 2.2.16</strong>
			</td>
		</tr>
		<tr>
			<td>9</td>
			<td>W, 10/17</td>
			<td>Composition of Linear Transformations (2.3)</td>
		</tr>
		<tr>
			<td>10</td>
			<td>F, 10/19</td>
			<td>Review</td>
		</tr>
		<tr>
			<td>11</td>
			<td>M, 10/22</td>
			<td><strong>Midterm #1</strong></td>
			<td rowspan="3">Week 4<br>
				<em>Problems:</em> <br> 
				<strong>2.3:</strong> 1, 2, 3, 4, 9, 11, 12, 13, 16, 17<br>
			    <strong>2.6:</strong> 1, 2, 3, 11, 12, 13, 15<br>
				<em>Homework:</em><br>
				<strong>2.3.1, 2.3.3, 2.3.9, 2.6.1, 2.6.11, 2.6.15</strong>
			</td>
		</tr>
		<tr>
			<td>12</td>
			<td>W, 10/24</td>
			<td>Space of Homomorphisms, Some Commutative Diagrams (2.6)</td>
		</tr>
		<tr>
			<td>13</td>
			<td>F, 10/26</td>
			<td>Change of Coordinate Matrix (2.5)</td>
		</tr>
		<tr>
			<td>14</td>
			<td>M, 10/29</td>
			<td>Review on Determinants (4.3), Eigenvalues and Eigenvectors (5.1)</td>
			<td rowspan="3">Week 5<br>
				<em>Problems:</em> <br> 
				<strong>2.5:</strong> 1, 2, 3abc, 4, 5, 6ac, 7, 8, 14<br>
				<strong>4.3:</strong> 1, 10, 11, 12, 13, 14, 19, 21, 22, 24<br>
				<strong>5.1:</strong> 1, 2abc, 3ab, 8ab, 10, 11, 14<br>
				<em>Homework:</em><br>
				<strong>2.5.5, 2.5.7, 4.3.22ab</strong> (you can use 2.24.22 without proof)<strong> 4.3.24, 5.1.8ab, 5.1.14</strong>
			</td>
		</tr>
		<tr>
			<td>15</td>
			<td>W, 10/31</td>
			<td>👻 Linear Algebra: Halloween Special (6.66) 👻, Diagonalizability (5.2)</td>
		</tr>
		<tr>
			<td>16</td>
			<td>F, 11/2</td>
			<td>Diagonalizability (5.2)</td>
		</tr>
		<tr>
			<td>17</td>
			<td>M, 11/5</td>
			<td>ODEs</td>
			<td rowspan="3">Week 6<br>
				<em>Problems:</em> <br> 
				<strong>5.2:</strong> 1, 2ab, 3ab, 8, 12, 13, 14a, 18a, 20<br>
				<strong>6.1:</strong> 1, 3, 4a, 10, 11, 12, 16, 17, 19, 20, 22<br>
				<em>Homework:</em><br>
				<strong>5.2.2a, 5.2.14a, 5.2.13, 5.2.20, 6.1.10, 6.1.16 </strong>
			</td>
		</tr>
		<tr>
			<td>18</td>
			<td>W, 11/7</td>
			<td>Inner Products and Norms (6.1) </td>
		</tr>
		<tr>
			<td>19</td>
			<td>F, 11/9</td>
			<td>Orthogonal Complements/ Projection (6.2)</td>
		</tr>
		<tr>
			<td colspan="3">Monday, 11/12: <strong>Veterans Day holiday!</strong></td>
			<td rowspan="3">Week 7<br>
				<em>Problems:</em> <br> 
				<strong>6.2:</strong>1, 2ai, 4, 5, 7, 15, 23<br>
				<em>Homework:</em><br>
				<strong>6.1.18, 6.1.22, 6.2.5, 6.2.7, 6.2.15, 6.2.23</strong>
			</td>
		</tr>
		<tr>
			<td>20</td>
			<td>W, 11/14</td>
			<td>Fourier Theory and the Heat Equation ()</td>
		</tr>
		<tr>
			<td>21</td>
			<td>F, 11/16</td>
			<td>Gram-Schmidt (6.2)</td>
		</tr>
		<tr>
			<td>22</td>
			<td>M, 11/19</td>
			<td><strong>Midterm #2</strong></td>
			<td rowspan="3">Week 8<br>
				<em>Problems:</em> <br> 
				<strong>6.3:</strong>1, 2, 3, 6, 9, 13ab, 15<br>
				<em>Homework:</em><br>
				<strong>NONE</strong>
			</td>
		</tr>
		<tr>
			<td>23</td>
			<td>W, 11/21</td>
			<td>Adjoint of an Operator (6.3)</td>
		</tr>
		<tr>
			<td colspan="3">Friday, 11/23: <strong>Thanksgiving holiday!</strong></td>
		</tr>
		<tr>
			<td>24</td>
			<td>M, 11/26</td>
			<td>Normal and Self-Adjoint Operators (6.4), Triangularization (6.4)</td>
			<td rowspan="3">Week 9<br>
				<em>Problems:</em> <br> 
				<strong>6.4:</strong>1, 2ae, 3, 6, 7 <br>
				<strong>6.6:</strong>1, 3, <br>
				<em>Homework:</em><br>
				<strong>6.3.6, 6.3.8, 6.3.15, 6.4.1, 6.4.6, 6.4.7</strong>
			</td>
		</tr>
		<tr>
			<td>25</td>
			<td>W, 11/28</td>
			<td>Spectral Theorem (6.4)</td>
		</tr>
		<tr>
			<td>26</td>
			<td>F, 11/30</td>
			<td>Bilinear and Quadratic Forms (6.8)</td>
		</tr>
		<tr>
			<td>27</td>
			<td>M, 12/3</td>
			<td>Sylvester's Law of Inertia (6.8)</td>
			<td rowspan="3">Week 10<br>
				<em>Problems:</em> <br> 
				<strong>6.8:</strong>1, 3, 4, 5b, 7, 8, 16<br>
				<em>Homework:</em><br>
				<strong>NONE</strong>
			</td>
		</tr>
		<tr>
			<td>28</td>
			<td>W, 12/5</td>
			<td> Special Relativity (6.9)</td>
		</tr>
		<tr>
			<td>29</td>
			<td>F, 12/7</td>
			<td>Review</td>
		</tr>
	</table>
	<p>
		<i>Hint:</i> If you are using your phone, turning the screen horizontal makes the table easier to read. 
	</p>
</section>
<section id="Textbook">
  <h1>Textbook</h1>
  <p>S. Friedberg, et al, <em>Linear Algebra</em>, Custom UCLA 4th Ed., Prentice Hall.
</p>

<p>Owning a copy of the textbook will be very helpful and is recommended however you might not find it necessary.</p>
<p><em>Hint:</em> You might also try to buy used and older versions of <em>Linear Algebra</em> by Friedberg and <em>Mathematical Thinking</em> by D’Angelo and West. In my understanding <em>Linear Algebra</em>, Custom UCLA 4th Edition is just a combination of those two books.
</p>
</section>
<a id="Homework">
	<h2> Homework </h2>
</a>
<section>
	<p>Solving problems on your own is one of the most important parts of this course. It will teach you how to apply your new knowledge and also be the best preparation for the midterms and final exam.</p>
	<p>I encourage you to discuss the problems in <em>teams</em> but write up the solutions <em>on your own</em>. Simply copying your homework will not prepare you for the exams at all and is also not allowed (i.e. considered academic misconduct/cheating).
	</p>
	<p>
		<em>Hint:</em> You can use Campuswire to find teammates!
	</p>
	<p>Every week you will be able to find a <em>list of problems</em> in the <a href="#Schedule">lecture schedule</a>. They will be covering the material of the lectures and similar to exam questions.
	</p>
	<p> 
		Certain problems will be your <em>homework</em> which you will have to hand in <strong>during</strong> the lecture every <strong>Friday</strong>.
		Your homework has to be submitted in a form obeying the following rules:
	<ul>
		<li>
			In the upper right corner of the first page put:
			<p>
				<code>
				First and last name<br>
				Student ID<br>
				Date, Homework number<br>
				TAs name <br>
				Number of discussion session<br>
				</code>
			</p>
		</li>
		<li>
			In the upper right corner of every additional page, put your name.
		</li>
		<li>
			Staple your homework.
		</li>
		<li>
			Write legible. No crumpled, torn paper.
		</li>
		<li>
			Label each solution with the section and problem number (e.g. 7.2 #2).
		</li>
	</ul>
	We will not accept your homework if it violates any of the above rules.
</section>
<section id="Exams">
	<h1>Exams</h1>
	<p>There will be two midterms and a final exam. Apart from the exceptions mentioned below, only writing equipment will be allowed in exams. Exams must be written in pen.</p>
	<ul>
		<li><strong>Midterm 1:</strong> TBA</li>
		<li><strong>Midterm 2:</strong> TBA</li>
		<li><strong>Final Exam:</strong> TBA</li>
	</ul>
	<p><em>Cheatsheets:</em> For each exam, students may bring a cheat sheet. Each student must prepare their own handwritten cheat sheet. For the midterms, the cheat sheet may consist of one side of half a standard (A4 or letter) sheet of paper (i.e. A5 or letter folded in half lengthways). For the final, the cheat sheet may consist of one side of a standard sheet of paper. Cheatsheets that do not meet these requirements will be confiscated at the beginning of the exam.</p>
	<p><em>Calculators:</em> You may use a non-programmable, non-graphing calculator in exams. Calculators not meeting this specification will be confiscated.</p>
	<p><em>Study:</em> Here I will post some practice exams which might aid your study.</p>
	<ul>
		<!--<li><strong>Midterm 1/2/Final:</strong> <a href="http://math.ucla.edu/~noah/teaching/math31b-s17/">Noah White's Website</a> </li>
		 
		 <li><strong>Midterm 2:</strong> <a href="F17-31Adata/practicemidterm2.pdf">Practice</a> (<a href="F17-31Adata/practicemidterm2solution.pdf">Solutions</a>)</li>
		 -->
	</ul>
</section>
<a id="Grading">
	<h2> Grading </h2>
</a>
<section>
	<p>The midterm scores will be adjusted to account for any difference in difficulty. Your final grade will be calculated using the maximum of the following two grading schemes. Your letter grade will then be determined by your rank in the class. Unless something very out of the ordinary occurs I expect to give approximately 20-30% A’s and 55-65% A’s and B’s combined.</p>
	<p>Option 1:</p>
	<pre><code>10% (7 best homework scores) +
40% (combined midterm scores) +
50% (final exam score)
= raw final grade
</code></pre>
	<p>Option 2:</p>
	<pre><code>10% (7 best homework scores) +
30% (best midterm score) +
60% (final exam score)
= raw final grade
</code></pre>
	<p>Effectively, this will mean that unless you score worse in the final than both midterms, your <strong>lowest midterm score will be dropped</strong>. This also means missing one midterm probably will not impact your grade in any serious way.</p>
</section>
<a id="Questions">
	<h2> Questions and Help </h2>
</a>
<section>
	<p>
		<em>Mathematical questions</em> should be asked on Campuswire. Click <a href="https://campuswire.com/signup">here</a> to sign up, then search for the course. You can either do so anonymously or with you full name. You are also encouraged to answer or take part in the discussion of the questions of others!
	</p>
	<p>
		Obviously homework questions and solutions should not be posted on Campuswire. Offences will be treated as academic dishonesty/cheating.
	</p>
	<p>
		You can also visit me and the TAs in our <a href="#Instructor"> office hours</a>.
	</p>
	<p>
		<em>Administrative questions</em> should in the first instance be directed to your TA. If your TA cannot resolve your query then you should contact me.
	</p>
	<p>
		If you need to email me, the subject line must include the string <code>math31</code>. If not, then there is a good chance your email will slip through the cracks and remain unanswered.
	</p>
	<p>
		You can get <em>additional help</em> from the <a href="http://www.math.ucla.edu/ugrad/smc">Student Math Center</a>, where undergraduate math majors as well as math graduate students will be able to help you.
	</p>
</section>