<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fall 18 - Math 131A - Real Analysis</title>
</head>
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
	MathJax.Hub.Config({
	jax: ["input/TeX", "output/HTML-CSS"],
	  tex2jax: {
	    inlineMath: [
	      ['$', '$'],
	      ['\\(', '\\)']
	    ]
	  },
	  TeX: {
	    equationNumbers: {
	      autoNumber: "AMS"
	    },
	    extensions: ["AMSmath.js", "AMSsymbols.js"],
	  },
	});
</script>
<h1>
	Spring 19 - Math 131A - Real Analysis
</h1>
<p> 
	This is the course website for Math 131A in Spring 2019.
</p>
<p>
	Please note that we are using <a href="https://campuswire.com/">Campuswire</a> for this class (see <a href="#Questions">below</a>).
</p>
<!--<section>
	<h2> Overview </h2>
	<section>
	 <table class="overview">
	  <tbody>
	    <tr>
	      <td>
	        Lectures:
	      </td> 
	      <td> 
	        Monday, Wednesday and Friday 8:00 to 8:50 pm in Moore Hall Room 100
	      </td>
	    </tr> 
	  </tbody>
	 </table>
	</section>
	-->
<section class="nav">
	<h2>Summary</h2>
	<ul>
		<li><a href="#Instructor">Instructor, TAs and office hours</a></li>
		<li><a href="#Textbook">Textbook</a></li>
		<li><a href="#Schedule">Schedule</a></li>
		<li><a href="#Homework">Homework</a></li>
		<li><a href="#Exams">Exams</a></li>
		<li><a href="#Grading">Grading</a></li>
		<li><a href="#Questions">Questions and Help</a></li>
	</ul>
</section>
<a id="Instructor">
	<h2>Instructor, TAs and office hours</h2>
</a>
<section>
	<h3>Instructor</h3>
	<p>
		Jens Eberhardt (firstname@math.ucla.edu)<br>
		<em>MS TBA (or in my office MS6304),TBA</em><br>
		<em>MS TBA (or in my office MS6304),TBA</em>
	</p>
	<h3>TAs</h3>
	<p>
		TBA		 (TBA)<br>
		<em> TBA</em>
	</p>
	<p>Please check back here as office hours and locations may change.</p>
</section>
<a id="Schedule">
	<h2> Schedule </h2>
</a>
<section>
	<p>
		The lectures take place Monday, Wednesday and Friday at 11am-11:50am in MS 5137. Time and date of the discussions can be found <a href="https://ccle.ucla.edu/course/view/19S-MATH131A-4">here</a>.
	</p>
	<p>
		In the following table you can see the preliminary lecture schedule and find your weekly problems list and homework.
	</p>
	<table class="schedule">
		<col>
		<col>
		<col width="30%">
		<col width="60%">
		<tr>
			<th>#</th>
			<th>Date</th>
			<th>Content</th>
			<th>Homework</th>
		</tr>
		<tr>
			<td>1</td>
			<td>M, 4/1 </td>
			<td>Induction and Natural Numbers (1.1)</td>
			<td rowspan="3">Week 1<br>
				<em>Homework:</em><br>
				<strong><a href="http://www.math.ucla.edu/~nandersen/131a/131a-hw-1.pdf">PDF</a></strong>
			</td>
		</tr>
		<tr>
			<td>2</td>
			<td>W, 4/3</td>
			<td>Integers, Rational Numbers, Ordered Fields (1.2)</td>
		</tr>
		<tr>
			<td> </td>
			<td>F, 4/5</td>
			<td>Cauchy Sequences (1.7)</td>
		</tr>
		<tr>
			<td>4</td>
			<td>M, 4/8 </td>
			<td>Real Numbers (1.3), Completeness (1.4)</td>
			<td rowspan="3">Week 2<br>
				<em>Homework:</em><br>
				<strong><a href="http://www.math.ucla.edu/~nandersen/131a/131a-hw-2.pdf">PDF</a></strong>
			</td>
		</tr>
		<tr>
			<td>5</td>
			<td>W, 4/10</td>
			<td><strong>No Lecture!</strong></td>
		</tr>
		<tr>
			<td>6</td>
			<td>F, 4/12</td>
			<td>Limit Theorems (2.9)</td>
		</tr><tr>
			<td>7</td>
			<td>M, 4/15 </td>
			<td>Least Upper Bound Theorem</td>
			<td rowspan="3">Week 3<br>
				<em>Homework:</em><br>
				<strong><a href="http://www.math.ucla.edu/~nandersen/131a/131a-hw-3.pdf">PDF</a></strong>
			</td>
		</tr>
		<tr>
			<td>8</td>
			<td>W, 4/17</td>
			<td>Bolzano-Weierstraß (2.11)</td>
		</tr>
		<tr>
			<td>9</td>
			<td>F, 4/19</td>
			<td>limsup, liminf (2.12) </td>
		</tr><tr>
			<td>10</td>
			<td>M, 4/22 </td>
			<td><strong>Midterm 1</strong></td>
			<td rowspan="3">Week 4<br>
				<em>Homework:</em><br>
				<strong><a href="http://www.math.ucla.edu/~nandersen/131a/131a-hw-4.pdf">PDF</a></strong>
			</td>
		</tr>
		<tr>
			<td>11</td>
			<td>W, 4/24</td>
			<td>Infinite Series (2.14, 2.15) </td>
		</tr>
		<tr>
			<td>12</td>
			<td>F, 4/26</td>
			<td>Continuity: Definition (3.17)</td>
		</tr><tr>
			<td>13</td>
			<td>M, 4/29 </td>
			<td>Continuity: Examples (3.17)</td>
			<td rowspan="3">Week 5<br>
				<em>Homework:</em><br>
				<strong><a href="http://www.math.ucla.edu/~nandersen/131a/131a-hw-5.pdf">PDF</a></strong>
			</td>
		</tr>
		<tr>
			<td>14</td>
			<td>W, 5/1</td>
			<td>Continuity: Properties (3.17)</td>
		</tr>
		<tr>
			<td> 15</td>
			<td>F, 5/3</td>
			<td>Uniform Continuity</td>
		</tr><tr>
			<td>16</td>
			<td>M, 5/6 </td>
			<td>Uniform Continuity</td>
			<td rowspan="3">Week 6<br>
				<em>Homework:</em><br>
				<strong><a href="http://www.math.ucla.edu/~nandersen/131a/131a-hw-6.pdf">PDF</a> Questions (3) and (4)</strong> <br>
				<strong><a href="http://www.math.ucla.edu/~nandersen/131a/131a-hw-7.pdf">PDF</a> Questions (1), (2) and (3)</strong>
			</td>
		</tr>
		<tr>
			<td>17</td>
			<td>W, 5/8</td>
			<td>Uniform Continuity, Limits of Functions</td>
		</tr>
		<tr>
			<td>18</td>
			<td>F, 5/10</td>
			<td>Limits of Functions</td>
		</tr><tr>
			<td>19</td>
			<td>M, 5/13 </td>
			<td>Derivatives</td>
			<td rowspan="3">Week 7<br>
				<em>Homework:</em><br>
				<strong><a href="http://www.math.ucla.edu/~nandersen/131a/131a-hw-8.pdf">PDF</a></strong>
			</td>
		</tr>
		<tr>
			<td>20</td>
			<td>W, 5/15</td>
			<td>Derivatives</td>
		</tr>
		<tr>
			<td>21</td>
			<td>F, 5/17</td>
			<td>Mean Value Theorem</td>
		</tr><tr>
			<td>22</td>
			<td>M, 5/20 </td>
			<td><strong>Midterm 2</strong></td>
			<td rowspan="3">Week 8<br>
				<em>Homework:</em><br>
				<strong><a href="http://www.math.ucla.edu/~nandersen/131a/131a-hw-9.pdf">PDF</a></strong>	</td>
		</tr>
		<tr>
			<td>23</td>
			<td>W, 5/22</td>
			<td>Integration: Definition</td>
		</tr>
		<tr>
			<td>24</td>
			<td>F, 5/24</td>
			<td>Integration: Integrability</td>
		</tr>
		<tr>
			<td colspan="3">Monday, 5/27: <strong>Memorial Day!</strong></td>
			<td rowspan="3">Week 9<br>
				<em>Homework:</em><br>
		<strong><a href="http://www.math.ucla.edu/~nandersen/131a/131a-hw-10.pdf">PDF</a> Questions (1) and (2)</strong>			</td>
		</tr>
		<tr>
			<td>25</td>
			<td>W, 5/29</td>
			<td>Integration: Linearity</td>
		</tr>
		<tr>
			<td>26</td>
			<td>F, 5/24</td>
			<td>Integration: Inequalities</td>
		</tr>
		<tr>
			<td>27</td>
			<td>M, 6/3 </td>
			<td>Fundamental Theorem of Calculus I and II</td>
			<td rowspan="3">Week 10<br>
				<em>Homework:</em><br>
		<strong><a href="http://www.math.ucla.edu/~nandersen/131a/131a-hw-10.pdf">PDF</a> Questions (3), (4), (5) and (6)</strong>
			</td>
		</tr>
		<tr>
			<td>28</td>
			<td>W, 6/5</td>
			<td>Review</td>
		</tr>
		<tr>
			<td>29</td>
			<td>F, 6/7</td>
			<td>Review</td>
		</tr>
	</table>
	<p>
		<i>Hint:</i> If you are using your phone, turning the screen horizontal makes the table easier to read. 
	</p>
</section>
<section id="Textbook">
  <h1>Course Notes</h1>
  We are using <a href="http://www.math.ucla.edu/~nandersen/">Nickolas Andersen's</a> lecture notes:
  <a href="http://www.math.ucla.edu/~nandersen/131a/131a-notes"> MATH 131A: REAL ANALYSIS</a>
</p>
</section>
<a id="Homework">
	<h2> Homework </h2>
</a>
<section>
	<p>Solving problems on your own is one of the most important parts of this course. It will teach you how to apply your new knowledge and also be the best preparation for the midterms and final exam.</p>
	<p>I encourage you to discuss the problems in <em>teams</em> but write up the solutions <em>on your own</em>. Simply copying your homework will not prepare you for the exams at all and is also not allowed (i.e. considered academic misconduct/cheating).
	</p>
	<p>Every week you will be able to find a <em>list of problems</em> in the <a href="#Schedule">lecture schedule</a>. They will be covering the material of the lectures and similar to exam questions.
	</p>
	<p> 
		You will have to solve these problems and hand them  in <strong>at the beginning</strong> of the lecture every <strong>Friday</strong>.
		Your homework has to be submitted in a form obeying the following rules:
	<ul>
		<li>
			In the upper right corner of the first page put:
			<p>
				<code>
				First and last name<br>
				Student ID<br>
				Date, Homework number<br>
				TAs name <br>
				Number of discussion session<br>
				</code>
			</p>
		</li>
		<li>
			In the upper right corner of every additional page, put your name.
		</li>
		<li>
			Staple your homework.
		</li>
		<li>
			Write legible. No crumpled, torn paper.
		</li>
		<li>
			Label each solution with the section and problem number (e.g. 7.2 #2).
		</li>
	</ul>
	We will not accept your homework if it violates any of the above rules.
</section>
<section id="Exams">
	<h1>Exams</h1>
	<p>There will be two midterms and a final exam. Apart from the exceptions mentioned below, only writing equipment will be allowed in exams. Exams must be written in pen.</p>
	<ul>
		<li><strong>Midterm 1:</strong> TBA</li>
		<li><strong>Midterm 2:</strong> TBA</li>
		<li><strong>Final Exam:</strong> TBA</li>
	</ul>
	<p><em>Cheatsheets:</em> For each exam, students may bring a cheat sheet. Each student must prepare their own handwritten cheat sheet. For the midterms, the cheat sheet may consist of one side of half a standard (A4 or letter) sheet of paper (i.e. A5 or letter folded in half lengthways). For the final, the cheat sheet may consist of one side of a standard sheet of paper. Cheatsheets that do not meet these requirements will be confiscated at the beginning of the exam.</p>
	<p><em>Calculators:</em> You may use a non-programmable, non-graphing calculator in exams. Calculators not meeting this specification will be confiscated.</p>
	<p><em>Study:</em> Here I will post some practice exams which might aid your study.</p>
	<ul>
		<!--<li><strong>Midterm 1/2/Final:</strong> <a href="http://math.ucla.edu/~noah/teaching/math31b-s17/">Noah White's Website</a> </li>
		 
		 <li><strong>Midterm 2:</strong> <a href="F17-31Adata/practicemidterm2.pdf">Practice</a> (<a href="F17-31Adata/practicemidterm2solution.pdf">Solutions</a>)</li>
		 -->
	</ul>
</section>
<a id="Grading">
	<h2> Grading </h2>
</a>
<section>
	<p>The midterm scores will be adjusted to account for any difference in difficulty. Your final grade will be calculated using the maximum of the following two grading schemes. Your letter grade will then be determined by your rank in the class. Unless something very out of the ordinary occurs I expect to give approximately 20-30% A’s and 55-65% A’s and B’s combined.</p>
	<p>Option 1:</p>
	<pre><code>10% (7 best homework scores) +
40% (combined midterm scores) +
50% (final exam score)
= raw final grade
</code></pre>
	<p>Option 2:</p>
	<pre><code>10% (7 best homework scores) +
30% (best midterm score) +
60% (final exam score)
= raw final grade
</code></pre>
	<p>Effectively, this will mean that unless you score worse in the final than both midterms, your <strong>lowest midterm score will be dropped</strong>. This also means missing one midterm probably will not impact your grade in any serious way.</p>
</section>
<a id="Questions">
	<h2> Questions and Help </h2>
</a>
<section>
		You can visit me and the TAs in our <a href="#Instructor"> office hours</a>.
	</p>
	<p>
		<em>Administrative questions</em> should in the first instance be directed to your TA. If your TA cannot resolve your query then you should contact me.
	</p>
	<p>
		If you need to email me, the subject line must include the string <code>math131a</code>. If not, then there is a good chance your email will slip through the cracks and remain unanswered.
	</p>
</section>