<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>	Summer 2021 - S4A2 - Graduate Seminar - Geometric Representation Theory of Weyl Groups
 </title>
</head>
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
	MathJax.Hub.Config({
		jax: ["input/TeX", "output/HTML-CSS"],
		tex2jax: {
			inlineMath: [
				['$', '$'],
				['\\(', '\\)']
			]
		},
		TeX: {
			equationNumbers: {
				autoNumber: "AMS"
			},
			extensions: ["AMSmath.js", "AMSsymbols.js"],
		},
	});
</script>
<h1>
	Summer 2021 - S4A2 - Graduate Seminar - Geometric Representation Theory of Weyl Groups
</h1>
<p>
	This is the course website for the S4A2 - Graduate Seminar - Geometric Representation Theory of Weyl Groups in Summer 2021.
</p>
<section class="nav">
	<h2>Summary</h2>
	<ul>
		<li><a href="#Instructor">Instructors</a></li>
		<li><a href="#Schedule">Schedule</a></li>
		<li><a href="#Program">Program</a></li>
		<li><a href="#Comments">Comments</a></li>
	</ul>
</section>
<a id="Instructor">
	<h2>Instructors</h2>
</a>
<section>
	<p>
		Jens Eberhardt (jens at math dot uni bonn de)<br>
	</p>
</section>
<a id="Schedule">
	<h2> Schedule </h2>
</a>
<section>
	<p>
		The preliminary meeting took place on Wednesday, 3rd of March, 3pm on Zoom. (Please send me an email to get an invitation link!).
	</p>
	<p>
		If you want to be added to the mailing list Please send me an email.
	</p>
	<p>
		The seminar takes place every Tuesday 4:15-5:45pm on Zoom.
	</p>
</section>
<a id="Program">
	<h2> Program </h2>
</a>
<p>
<p>A preliminary program can be found <a href="S21Seminardata/plan.pdf">here</a>. There will be the following talks:
</p>
<ol>
<li>Semisimple Lie-Algebras and Flag Varieties, April 13, Maximilian Lukas Höfling</li>
<li>The Universal Resolution, April 20, Nico Wolf</li>
<li>Nilpotent Cone, April 27, Rein Janssen Groesbeek</li>
<li>Steinberg Variety, May 4, Fernando Pena</li>
<li>Borel-Moore homology, May 11, Junyan Liu</li>
<li>Convolution, May 18, Tanja Helme</li>
<li>Lagrangian Construction of the Weyl group, June 1, David Cueto Noval</li>
<li>General Springer Theory, June 8, Aaron Wild</li>
<li>Springer Fibers for SLn, I, June 15, Xiaoxiang Zhou</li>
<li>Springer Fibers for SLn, II, June 22, Daniel Bermudez</li>
<li>Basic properties of (equivariant) K-theory, June 29, Jiaxi Mo</li>
<li>Equivariant K-theory of Flag varieties, July 6,  Liao Wang</li>
<li>Affine Weyl Groups and Equivariant K-theory, July 13, Noah Schaumburg</li>
<li>Representations of p-adic groups, July 20, Mingyu Ni</li>
</ol>
