<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Winter 2019/2020 - Advanced Algebras/Hall Algebras </title>
</head>
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
	MathJax.Hub.Config({
	jax: ["input/TeX", "output/HTML-CSS"],
	  tex2jax: {
	    inlineMath: [
	      ['$', '$'],
	      ['\\(', '\\)']
	    ]
	  },
	  TeX: {
	    equationNumbers: {
	      autoNumber: "AMS"
	    },
	    extensions: ["AMSmath.js", "AMSsymbols.js"],
	  },
	});
</script>
<h1>
	Winter 2019/2020 - Advanced Algebras/Hall Algebras 
</h1>
<p> 
	This is the course website for the S4A3 Graduate Seminar on Advanced Algebras/Hall Algebras in Winter 2019/2020.
</p>
<section class="nav">
	<h2>Summary</h2>
	<ul>
		<li><a href="#Instructor">Instructors</a></li>
		<li><a href="#Schedule">Schedule</a></li>
		<li><a href="#Program">Program</a></li>
		<li><a href="#Comments">Comments</a></li>
	</ul>
</section>
<a id="Instructor">
	<h2>Instructors</h2>
</a>
<section>
	<h3>Instructors</h3>
	<p>	
		Catherina Stroppel (stroppel@math.uni-bonn.de)<br>
		Jens Eberhardt (mail@jenseberhardt.com)<br>
		Matthew B. Young (myoung@mpim-bonn.mpg.de)<br>
	</p>
</section>
<a id="Schedule">
	<h2> Schedule </h2>
</a>
<section>
	<p>
		The seminar takes place every Thursday 4-6pm in SR N0.007 .
	</p>
	
</section>
<a id="Program">
	<h2> Program </h2>
</a>
<section>
	<p>You can find the preliminary program <a href="W1920Seminardata/quiverseminarprogramV2.pdf">here</a></p>


<a id="Comments">
	<h2> Comments </h2>
</a>
<section>
There are five general rules for the whole seminar: 
<ol type="1">
  <li><b>Select the material:</b> The talks might be sometimes too full and too much material given for one seminar slot. If you have such a talk please make sure that you select a subset of the material which you present then on the board. The extra material is supposed to help you to better understand the talks and put it into context. It would be good to double-check with one of us before the talk if everything is covered which is required for the following talks. The program tries to make clear, what the important topics are.</li>
  <li><b>Examples should be everywhere:</b> Every talk should have at least one example or "counter"-example (showing that for instance the assumptions are really necessary)</li>
  <li><b>Questions help to understand the material:</b> Questions during the talk are strongly encouraged. You should plan in that there are at least 5-10 minutes questions. Never rush through the remaining material just because you were delayed because of questions!</li>
  <li><b>The ghost behind everything: the running example:</b> One should always be able to understand the katerial of each talk for the example $\mathsf{Vect}_{\mathbb{F}_q}$. This should be our running example where many things are rather easy, but often still enlightening and helpful for the general understanding.</li>
  <li><b>The quantum parameter is called v:</b> Because we used already q to denote the finite field $\mathbb{F}_q$ of $q$ elements, we have to use the notation $\operatorname{U}_v(\mathfrak{g})$ instead of the very common notation $\operatorname{U}_q(\mathfrak{g})$ in everything related to quantum groups. Please adapt this notation to avoid confusion. At the end of the course we will hopefully see why we nevertheless should call it $q$ or at least something similar... But it is very helpful to make the distinction clear until the point where we really understand the connection between this parameter and the cardinality $q$ of $\mathbb{F}_q$.</li>
</ol>
Talk 7 is still in progress. We will give more details in about a week. We are a bit unhappy with the references we have at the moment and like to give more precise instructions here. The basic reference is however again Schiffmann. One can just for now start to prepare the talk based on this. For this talk 7 and talk 13 it might be good to have a short meeting at the beginning of the preparation so that we can give some guidelines what the goal of the talk is.
