<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>	Winter 2019/2020 - S4A2 - Graduate Seminar on Real Reductive Groups and D-Modules
 </title>
</head>
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
	MathJax.Hub.Config({
		jax: ["input/TeX", "output/HTML-CSS"],
		tex2jax: {
			inlineMath: [
				['$', '$'],
				['\\(', '\\)']
			]
		},
		TeX: {
			equationNumbers: {
				autoNumber: "AMS"
			},
			extensions: ["AMSmath.js", "AMSsymbols.js"],
		},
	});
</script>
<h1>
	Winter 2020/2021 - S4A2 - Graduate Seminar on Real Reductive Groups and D-Modules
</h1>
<p>
	This is the course website for the S4A2 - Graduate Seminar on Real Reductive Groups and D-Modules in Winter 2020/2021.
</p>
<section class="nav">
	<h2>Summary</h2>
	<ul>
		<li><a href="#Instructor">Instructors</a></li>
		<li><a href="#Schedule">Schedule</a></li>
		<li><a href="#Program">Program</a></li>
		<li><a href="#Comments">Comments</a></li>
	</ul>
</section>
<a id="Instructor">
	<h2>Instructors</h2>
</a>
<section>
	<p>
		Jens Eberhardt (jens math uni bonn de)<br>
	</p>
</section>
<a id="Schedule">
	<h2> Schedule </h2>
</a>
<section>
	<p>
		The preliminary meeting takes place on Tuesday, 28th of July, 2-4pm on Zoom (send me an email to get an invitation link!).
	</p>
	<p>
		The seminar takes place every Tuesday 6:15-7:45pm on Zoom.
	</p>
</section>
<a id="Program">
	<h2> Program </h2>
</a>
Real reductive groups and their representation theory are an incredibly rich subject with connections to the theory of automorphic forms, the Langlands program and more.
In this seminar, we want to understand the (often infinite-dimensional) representations of real reductive groups in two ways:
<ol>
	<li> Algebraically, through Harish-Chandra's approach.
	<li> Geometrically, using Beilinson-Bernstein localisation and $D$-modules.
</ol>
We will focus on the case $G=SL_2(\mathbb{R})$ which is already extremely interesting and, for example, connected to the theory modular forms. As an interesting aside, we will learn about the real origins of the famous BGG category $\mathcal{O}$.

<section>
	<p>A preliminary program can be found <a href="W2021Seminardata/plan.pdf">here</a>. There will be the following talks:</p>
	<ol>
<li>$SL_2(\mathbb{C})$: Forms, Lie Algebras and Weyl's Unitary Trick (Benedek Dombos, 27.10.20)</li>
<li>$SL_2(\mathbb{R})$: Infinitesimal Equivalence, Harish-Chandra modules and Unitary Representations (Hannes Kristinn Árnason, 3.11.20)</li>
<li>$SL_2(\mathbb{R})$: Principal Series, Discrete Series and Modular Forms (Xiaoxiang Zhou, 10.11.20)</li>
<li>Real Reductive Groups: Definitions, Involutions and Decompositions (Berber Lorke, 17.11.20)</li>
<li>Real Reductive Groups: Harish-Chandra Modules and Langlands Classification (Rostislav Devyatov, 24.11.20)</li>
<li>Complex Reductive Groups: Harish-Chandra Bimodules and Category $\mathcal{O}$ (Liao Wang, 1.12.20)</li>
<li>D-Modules: Linear PDE's, Weyl Algebras and Symbols (Thibaud van den Hove, 8.12.20)</li>
<li>D-Modules: Smooth Varieties, Coordinates and Defintions (Jiexiang Huang, 15.12.20)</li>
<li>D-Modules: Functorialities and Kashiwara's Theorem (Timm Peerenboom, 22.12.20)</li>
<li>$\mathbb{P}^1$:  Line bundles, Representations and Grothendieck Resolution (Daniel Bermudez, 12.1.21)</li>
<li>$\mathbb{P}^1$: Global Differential Operators, Global Sections and the Localisation Theorem (Jon Miles, 19.1.21)</li>
<li>$\mathbb{P}^1$: Principal Series and Discrete Series via D-Modules (Konrad Zou, 26.1.21)</li>
<li>Flag varieties: Localisation Theorem (Mingyu Ni, 2.2.21)</li>
<li>Flag varieties: K-orbits, Local Systems and Langlands Classification (9.2.21)</li>
</ol>
</section>
